
<div class="main">


    <h2> View 2 - Partial HTML </h2>


    <div>

        <h3>Puppy Information</h3>

        <table class="table table-striped table-bordered puppies">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Profession</th>
                    <th>View</th>
                </tr>
            </thead>

            <tbody>

            <tr ng-repeat='pup in puppies' poopers-directive=""></tr>

            </tbody>

        </table>

    </div>

    <div>

        <h3>Puppy Toys Required</h3>

        <table class="table table-striped table-bordered puppies">

            <thead>
                <tr>
                    <th>Toy</th>
                    <th>Cost</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="(toy, cost) in toys">
                    <td>{{toy}}</td>
                    <td>{{cost | currency : "USD$"}}</td>

                </tr>
            </tbody>
        </table>
    </div>


    <img src="images/{{imageName}}.jpg"  ng-show="truthy" height="350" width="400" class="img-rounded">


</div>