/* Pseudo-elements -------------------------------- */

.intro::first-line {
  font-weight: bold;
  font-size: 1.4em;
}

.intro::first-letter {
  float: left;
  font-size: 80px;
  color: white;
  padding: 5px 10px;
  /*padding: 0 0;*/
  /*background: #384047;*/
  background: tomato;
  margin: 10px 10px 0 0;
  border-radius: 5px;
  line-height: 1;
}



/*
Review:

Excellent when you don't have control over the HTML  -- CMS!!!

PSEUDO-CLASSES:

:first-child  -  select first child of a parent
:last-child  -  select last child of a parent
:only-child  -  target elements with no siblings
:empty  -  targets elements with no children or content

Substring matching attribute selectors  -  match specific pieces of an attributes value
 ^ tells browser to match a piece of code that's at the beginning of an attributes value
 $ matches a piece at the end of an attributes value
 * matches any part of an attributes value

:checked  -  targets the checked state of a radio button or checkbox
:disabled -- targets disabled text fields

:nth-child()  --  (argument)
:nth-child(an+b)  --  b = first element to select (number),   a = cycle of elements to select

:nth-of-type()
:nth-last-of-type()    --  number of element from the bottom

:root  --  highest/top most element in page  --  usually <html> element
:target --  targets of internal page href links

:not()  --  element we do NOT want to target

PSEUDO-ELEMENTS:   (not part of the DOM)

::first-line
::first-letter

*/
