@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://necolas.github.io/normalize.css/3.0.2/normalize.css);

body
{
    background: #ECEEEF;
    text-align: center;
    margin: 50px auto;
    max-width: 500px;
    padding-top: 0px;
    font: 18px normal 'Varela Round', Helvetica, serif;
    color: #777B7E;
}


#map-canvas {

    height: 350px;

}


h1 {
    font-size: 20px;
    color:white;
}

#error {
    width: 100%;
    padding: 22px 0;
    background: #FFE6B2;
    color: #C5A14E;
    position: absolute;
    left: 0;
    top: 0;
}

#restaurants {
    background: #615143;
    border-radius: 4px;
    border: 1px solid #D5DDE4;
    margin: -50px 0 0;
}

ul {
    list-style-type: none;
    padding: 0;
    background:white;
    margin: 0 0;
}

li {
    display: inline-block;
    width: 100%;
    padding: 8px 0;
    margin: 0;
    border-top: 1px solid #D5DDE4;
}

input[type=button] {

    color: #000000;
    border-radius: 4px;
    width: 40%;
    position: relative;

    /*right: 10%;*/
}

.button {

    margin-left: 8%;
    color: #000000;
    border-radius: 4px;
}

li span {
    color: #2C3238;
    float: left;
    padding:  0 40px;
}

#hud {
    position: relative;
    width:300px;
    height: 50px;
    background: white;
    border-radius: 5px;
    text-align:center;
    box-shadow: 0px 0px 10px #888888;
    top:100px;
    margin: auto;
    padding: 10px 0;
    display: none;

}

#infoBox {

    width: 100%;
    padding: 2px 0;
    background: lawngreen;
    color: #808080;
    position: relative;
    left: 0;
    top: 0;

}

.noSites {

    background: red !important;
    color: white!important;
}